<h1>Prodcutos de la tienda</h1>
<form method="post">
    @*//esto te crea la cookie y el token*@ 
    @Html.AntiForgeryToken()
    <label> Dirección de envío:</label>
    <button type="submit" class="btn btn-warning">
        Comprar productos
    </button>
    <input type="text" name="direccion" class="form-control" />
    <br />
    <input type="checkbox" name="producto"
           class="form-control" value="Maserati 200000€" /> Maserati 200000€
    <br />
    <input type="checkbox" name="producto"
           class="form-control" value="Samsung S21 Ultra 2000€" /> Samsung S21 Ultra 2000€
    <br />
    <input type="checkbox" name="producto"
           class="form-control" value="Play 5 900€" /> Play 5 900€
    <br />
</form>